asgiref==3.5.2
crispy-bootstrap5==0.6
dj-database-url==1.0.0
dj-email-url==1.0.5
Django==4.1
django-cache-url==3.4.2
django-crispy-forms==1.14.0
environs==9.5.0
gunicorn==20.1.0
marshmallow==3.17.1
packaging==21.3
psycopg2==2.9.3
pyparsing==3.0.9
python-dotenv==0.21.0
sqlparse==0.4.2
whitenoise==6.2.0
