{% extends 'base.html' %}

{% block content %}
<div class="article-entry">
<h2>{{object.title}}</h2>
<p>{{ object.author}} | {{object.date}} </p>
<p>{{object.body}}</p>
</div>
<a href="{% url 'article_update' article.pk  %}">edit</a>
<a href="{% url 'article_delete' article.pk  %}">delete</a>
<a href="{% url 'article_list'  %}">articles</a>
<h4>Comments</h4>
{% for comment in article.comment_set.all %}
<p>{{ comment.author }} &middot; {{ comment }}</p>
{% endfor %}
<hr>
<h4>Add a comment</h4>
<form action="" method="post">{% csrf_token %}

{{ form }}
<button class="btn btn-success ml-2" type="submit">Save</button>
</form>
{% endblock content %}